.card {
	max-width: 460px;
	margin-bottom: 27px;
}


.card__head	{
	display: flex;
	justify-content: start;
	align-items: center;
	column-gap: 24px;
}

.card__title {
	color: #1D2130;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
}

.desc {
	padding-left: 52px;
	line-height: 1.5em;
}